body {
  margin: 0;
}

.container {
  margin: 0 auto;
  text-align: center;
  background-color: #f9f6f1;
  min-height: 100vh;
}

.profileImg {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid #1976d2;
  margin-top: 5px;
  animation: fade-in 0.5s;
}

.profileImg img {
  height: 100%;
  margin-left: -50px;
}

.username {
  background-image: linear-gradient(red, blue);
  color: transparent;
  background-clip: text;
}

.fade_in {
  animation: fade-in 1s;
}

.fade_down {
  animation: fade-down 0.8s;
}

a,
a:visited {
  text-decoration: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-80px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale (1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale (1);
  }
}
